<!DOCTYPE html>
<html>
  <head>
    <title>AwesomeAnswersBootcampMay2020</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>

  <body>
    <%= flash[:notice] || flash[:alert] %>

    <!-- <a href="/contact/new">Contact Us</a> -->
    <%# 
      'link_to' is a method called view helper that comes with Rails and 
      it generates <a> tag
    %>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">Awesome Answers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">

            </ul>
            <ul class="navbar-nav navigation-links">
                <li class="nav-item">
                    <%= link_to 'Contact Us', contact_us_path %>
                </li>
                <li class="nav-item">
                    <%= link_to 'New Question', new_questions_path %>
                </li>
                <li class="nav-item">
                    <%= link_to 'All Questions', questions_path %>
                </li>
            </ul>
        </div>
    </nav>
    <hr />
    <div class="container">
    <%= yield %>
    <div>
  </body>
</html>
